.textBanner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: 900;
    padding: 100px;
    background-image: url(../../Images/BannerHome.png);
    background-size: 100%;
    background-repeat: no-repeat;

}

.textBanner h2 {
    font-size: 3.5em;
    margin-top: 0;
    margin-bottom: 10px;

}

.cursiveText {
    font-family: 'Yellowtail';
    color: #68A47F;
    margin: 0;
    font-size: 1.7em;


}

.contentTextBanner {
    width: 400px;
}



.cardsSalesBox{
    background-color: #ffff;
    display: flex;
    justify-content: center;
    padding: 50px 0;

}

.card01{
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url('../../Images/Photo01.jpg');
    
}

.card02{
    background-size: 100%;
    background-repeat: no-repeat;
    background-image:url('../../Images/Photo02.jpg') ;
}

.card02 h4{
    color: #274C5B !important;
}

.card02 p{
    color: #68A47F !important;
}

/*Categories container*/

.categoriesContainer{
    background-color: #F9F8F8 ;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 0;
    
}

.imgCategoriesLogo{
    width: 40%;
}
.imgCategoriesLogo img{
    width: 100%;
}

.textCategories{
    width: 50%;
    padding: 10px;
}

/*Box 01*/

.box1{
    
    width: 80%;
}

.box1 h4{
    font-size: 3em;
    font-weight: bold;
    margin: 10px;
}

.box1 p{
    margin: 0;
    text-align: justify;
}

.cursiveFont{
    font-family:Yellowtail, cursive;
    font-size: 2em;
    color: #68A47F;

}

/*Box 02*/

.cardCategorie{
    display: flex;
    justify-content: flex-start;
    align-items:center;
    margin-top: 20px;
}

.cardCategorie img{
    background-color: #fff;
    padding: 15px;
    border-radius: 5px;
}



.veganCard{
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-left: 10px;
}

.veganCard h4,p{
    margin: 5px;

}

