.textBanner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: 900;
    padding: 100px 0;
    padding-left: 50px;
    background-image: url(../../Images/BannerHome.png);
    background-size: 100%;
    background-repeat: no-repeat;

}

.textBanner h2 {
    font-size: 3.5em;
    margin-top: 0;
    margin-bottom: 10px;

}

.cursiveText {
    font-family: 'Yellowtail';
    color: #68A47F;
    margin: 0;
    font-size: 1.7em;


}

.contentTextBanner {
    width: 400px;
}

.btnBanner {
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 5px;
    background-color: #EFD372;
    font-weight: bold;
    color: #274C5B;
    border-radius: 15px;
    box-shadow: 1px 1px 5px #274c5b80;
}

.btnBanner:hover {
    background-color: #bba041;
    color: #fff;
}

.cardsSalesBox{
    background-color: #ffff;
    display: flex;
    justify-content: center;
    padding: 50px 0;

}

.card01{
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url('../../Images/Photo01.jpg');
    
}

.card02{
    background-size: 100%;
    background-repeat: no-repeat;
    background-image:url('../../Images/Photo02.jpg') ;
}

.card02 h4{
    color: #274C5B !important;
}

.card02 p{
    color: #68A47F !important;
}

/*Categories container*/

.categoriesContainer{
    background-color: #F9F8F8 ;
    display: flex;
    align-items: center;
    
}

.imgCategoriesLogo{
    width: 50%;
}
.imgCategoriesLogo img{
    width: 100%;
}

.textCategories{
    width: 50%;
    padding: 10px;
}
.textCategories .box01{
    width: 50%;
}